* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1d1d2e;
}

.container{
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  width: 600px;
  padding: 2rem 1.5rem;

}

.cadastro {
  width: 600px;
  padding: 2rem 1.5rem;
}

.form-control {
  margin-bottom: 1rem;
  height: 3rem;
}

button {
  width: 100%;
  height: 3rem;
}

a {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.alert {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  height: 3rem;
}

.homeContainer {
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

}


/* HEADER */

.headerContainer{
  height: 5rem;
}

.headerContent{
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContent img nav{
  cursor: pointer;
}

.options{
  display: flex;
  align-items: center;
}

.options a{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 0 0.5rem;
  display: flex;
  position: relative;
  text-decoration: none;
  transition: color 0.4s;
  white-space: nowrap;
  border: solid #ff3f4b 1px;
  border-radius: 0.3rem;
  margin-left: 2rem;
}

.options a:hover {
  color: #ff3f4b;
}

.logout {
  
  cursor: pointer;
  transition: transform .2s ease;
}

.logut:hover img {
  transform: scale(1.2);
}




