<div class="modal" ng-style="modalAlertDelete">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Aluno: {{alunoEdit.name}}</div>
        <button class="btn btn-close" ng-click="setModalAlertDeleteAluno()"></button>
      </div>
      <div class="modal-body">Certeza que deseja apagar o aluno {{alunoEdit.name}}?</div>
      <div class="modal-footer">
        <div class="btn btn-danger" ng-click="deleteAluno(alunoEdit.id)">Apagar</div>
        <div class="btn btn-secondary" ng-click="setModalAlertDeleteAluno()">Voltar</div>
      </div>
    </div>
  </div>
</div>