<div class="modal" ng-style="modalForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Adicionar um novo aluno:</h3>
        <button type="button" class="btn btn-close" ng-click="setModalAddAlunos()"></button>
      </div>
      <div class="modal-body">
        <form name="createAlunoForm">
          <label class="form-label">Nome:</label>
          <input class="form-control" ng-model="novoAluno.name" name="name" ng-required="true" ng-minlength="3" ng-maxlength="20"/>
          <label class="form-label">Sobrenome:</label>
          <input class="form-control" ng-model="novoAluno.surname" name="surname" ng-required="true" ng-minlength="3" ng-maxlength="20"/>
          <label class="form-label">Email:</label>
          <input class="form-control" ng-model="novoAluno.email" name="email" ng-required="true" type="email"/>
          <label class="form-label">Idade:</label>
          <input class="form-control" ng-model="novoAluno.age" name="age" ng-required="true" type="number"/>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addAluno(novoAluno)" ng-disabled="createAlunoForm.$invalid">Adicionar</button>
      </div>
    </div>
  </div>
</div>
