<div class="modal" ng-style="modalEdit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Aluno: {{alunoEdit.name}}</h3>
        <button type="button" class="btn btn-close" ng-click="setModalEditAluno()"></button>
      </div>
      <div class="modal-body">
        <label class="form-label">Nome:</label>
        <div class="input-group">
          <input class="form-control" ng-model="alunoEdit.name" name="name" value="{{alunoEdit.name}}" ng-disabled="!alunoEdit.nameSelected"/>
          <div class="input-group-text mb-3">
            <input type="checkbox" ng-model="alunoEdit.nameSelected"/>
          </div>
        </div>
        <label class="form-label">Sobrenome:</label>
        <div class="input-group">
          <input class="form-control" ng-model="alunoEdit.surname" name="surname" value="{{alunoEdit.surname}}" ng-disabled="!alunoEdit.surnameSelected"/>
          <div class="input-group-text mb-3">
            <input type="checkbox" ng-model="alunoEdit.surnameSelected"/>
          </div>
        </div>
        <label class="form-label">Email:</label>
        <div class="input-group">
          <input class="form-control" ng-model="alunoEdit.email" name="email" value="{{alunoEdit.email}}" ng-disabled="!alunoEdit.emailSelected"/>
          <div class="input-group-text mb-3">
            <input type="checkbox" ng-model="alunoEdit.emailSelected"/>
          </div>
        </div>
        <label class="form-label">Idade:</label>
        <div class="input-group">
          <input class="form-control" ng-model="alunoEdit.age" name="age" value="{{alunoEdit.age}}" ng-disabled="!alunoEdit.ageSelected"/>
          <div class="input-group-text mb-3">
            <input type="checkbox" ng-model="alunoEdit.ageSelected"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="editAluno(alunoEdit)">Editar</button>
        <button type="button" class="btn btn-danger" ng-click="setModalAlertDeleteAluno()">Apagar</button>
      </div>
    </div>
  </div>
</div>