<header class="headerContainer">
  <div class="headerContent">
    <a ng-click="setModalEditUser()" class="edit-user">
      <img src='../logo/logo.png' width="220" height="80" />
    </a>

    <nav class="options">
      <a ng-click="setModalAddAlunos()" class="add-alunos">
        Novo Aluno
      </a>

      <a ng-click="setModalFotos()" class="add-alunos">
        <div>Adicionar Fotos</div>
      </a>

      
      <a class="logout" ng-click="signOut()">
        Sair
      </a>

    </nav>
  </div>
</header>