<div ng-include="'view/header.html'"></div>
<div ng-include="'view/createAluno.html'"></div>

<div class="homeContainer">
  <input ng-change="filterStudents(students, filter)" ng-model="filter" placeholder="Buscar aluno..." class="form-control filter">
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Foto</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>Idade</th>
    </tr>
    <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="aluno in pages[index]">
      <td></td>
      <td>{{aluno.id}}</td>
      <td><img src="{{aluno.Fotos[0].url || 'logo/avatar.png'}}" class="rounded-circle" width="50px" height="50px"/></td>
      <td>{{aluno.name}}</td>
      <td>{{aluno.surname}}</td>
      <td>{{aluno.email}}</td>
      <td>{{aluno.age}}</td>
    </tr>
  </table>
  <div class="paginationContainer">
    <button class="btn btn-primary" ng-click="backPage()" ng-disabled="index === 0"><<</button>
    <button class="btn btn-primary" ng-repeat="page in pages" ng-disabled="index === pages.indexOf(page)" ng-click="gotoPage(pages.indexOf(page))">{{pages.indexOf(page) + 1}}</button>
    <button class="btn btn-primary" ng-click="nextPage()" ng-disabled="index === (totalPages- 1)">>></button>
  </div>
</div>