<div ng-include="'view/header.html'"></div>
<div class="homeContainer">
  <input ng-change="filterAll(alunos, filter)" ng-model="filter" placeholder="Buscar aluno..." class="form-control filter">
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>ID</th>
      <th>Foto</th>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Email</th>
      <th>Idade</th>
    </tr>
    <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="aluno in alunos">
      <td></td>
      <td>{{aluno.id}}</td>
      <td><img src="{{baseUrl}}/{{aluno.Fotos[0].filename}}" class="rounded-circle" width="50px" height="50px"/></td>
      <td>{{aluno.name}}</td>
      <td>{{aluno.surname}}</td>
      <td>{{aluno.email}}</td>
      <td>{{aluno.age}}</td>
    </tr>
  </table>
</div>